<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="logo-android"></ion-icon>
      <ion-label>Lenguaje</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="logo-react"></ion-icon>
      <ion-label>Editores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sitios">
      <ion-icon name="library-sharp"></ion-icon>
      <ion-label>Ofimática</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sistema">
      <ion-icon name="logo-microsoft"></ion-icon>
      <ion-label>S.O.</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
