<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <!-- List of Text Items -->
<ion-list>
  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/logo-python.png">
    </ion-avatar>
    <ion-label><h3>python</h3></ion-label>
    <p><b>Python</b> es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código.</p>

  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/logo-c++.png">
    </ion-avatar>   
    <ion-label><h3>c++</h3></ion-label>
    <p>C++ es un lenguaje de programación diseñado en 1979 por Bjarne Stroustrup. La intención de su creación fue extender al lenguaje de programación C mecanismos que permiten la manipulación de objetos.</p>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/logo-c2.jpg">
    </ion-avatar>
    <ion-label>c#</ion-label>
    <p>"C#" (pronunciado si sharp en inglés) es un lenguaje de programación multiparadigma desarrollado y estandarizado por la empresa Microsoft como parte de su plataforma  </p>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/logo-c.png">
    </ion-avatar>
    <ion-label>c</ion-label>
    <p>C es un lenguaje de programación de propósito general2​:1 originalmente desarrollado por Dennis Ritchie entre 1969 y 1972 en los Laboratorios Bell,</p>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="assets/img/logo-angular.png">
    </ion-avatar>
    <ion-label>Angular</ion-label>
    <p>Angular (comúnmente llamado Angular 2+ o Angular 2) es un framework para aplicaciones web desarrollado en TypeScript, de código abierto, mantenido por Google, que se utiliza para crear y mantener aplicaciones web de una sola página. </p>
  </ion-item>
  
</ion-list>


</ion-content>
