<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  ion-col > div {
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 10px;
  }
</style>

<ion-header>
  <ion-toolbar>
    <ion-title>ofimatica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
            <ion-card>
            <img src="assets/img/word-1.jpg"/>
            <ion-card-header>
              <ion-card-title>Word</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Procesador de tesxto o documentos.
            </ion-card-content>
          </ion-card>
      </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <img src="assets/img/power-point.jpg"/>
            <ion-card-header>
              <ion-card-title>Power point</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              programa de preentacion.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div><ion-card>
          <img src="assets/img/excel.jpg"/>
          <ion-card-header>
            <ion-card-title>Excel</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Programa de hoja de calculo.
          </ion-card-content>
        </ion-card></div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card>
            <img src="assets/img/access.jpg"/>
            <ion-card-header>
              <ion-card-title>access</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              progrma de base de datos.
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>




</ion-content>
